<div class="top-choice">
  <%= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-primary" %>
  <% if @role != 'P' %>
    <%= link_to '#', class:"btn btn-outline-primary" do %>
      Send Email All
    <% end %>
  <% end %>
  <%= link_to new_course_courses_register_path(@course), class:"btn btn-success" do %>
    Add Register
  <% end %>
</div>
<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Participate</th>
      <th>Email</th>
      <th>Vote</th>
    </tr>
  <% @registers.each do |register| %>
    <tr>
      <td>
        <%= register.people %>
      </td>
      <td>
        <%= register.participate %>
      </td>
      <td>
        <%= register.email %>
      </td>
      <td>
        <%= register.vote %>
      </td>
      <td>
        <% if @role != 'P' || register.courses_participant == CoursesParticipant.where(course: @course, user: current_user).first %>
          <%= link_to 'Send Mail', '#' %> | 
        <% end %>
        <% if @role == 'S' || @role == 'A' || @role == 'D' || @role == 'T' || (@role == 'P' && register.courses_participant == CoursesParticipant.where(course: @course, user: current_user).first) %>
          <%= link_to 'Edit', edit_course_courses_register_path(@course, register) %>
           | <%= link_to 'Delete', courses_register_path(register), method: :delete, data: {confirm: "Are you sure"} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table> 
</div>