<div class="form_roles_type">
  <h4>Edit user</h4>

  <%= simple_form_for(@user, url: users_user_path, html: { method: :put } ) do |f| %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nation %>
    <%= f.input :language, collection: @languages, include_blank: false %>
    <%= f.input :as_400 %>
    <%= f.input :note %>
    <%= f.input :roles_type_code, collection: RolesType.all ,label_method: :nameEN, value_method: :code, include_blank: false %>
                  

    <div class="buttons">
        <%= link_to "Cancel", users_path, {:class=>"btn-cancel"} %>
        <%= f.button :submit, 'Edit', {:class=>"btn-save"} %>
      </div>
  <% end %>
</div>
