<%= render 'shared/navbar_settings' %>
<div class="div_btn_add">
  <%= link_to  new_user_registration_path, class:"btn_add" do %>
    <p><strong>+</strong> User</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Nation</th>
      <th>LG</th>
      <th>Role</th>
    </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></td>
      <td><%= user.email %></td>
      <td><%= user.showed_password %></td>
      <td><%= user.nation %></td>
      <td><%= user.language %></td>
      <td><%= user.roles_type_code %></td>
      <td><%= link_to 'Edit', edit_users_user_path(user) %> | <%= link_to 'Delete', users_user_path(user), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table> 
</div>