<div class="top-choice">
  <%= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-primary" %>
  <%= link_to '#', class:"btn btn-outline-primary" do %>
    Send Email All
  <% end %>
  <%= link_to new_course_courses_area_manager_path(@course), class:"btn btn-success" do %>
    Add Area Manager
  <% end %>
</div>
<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Participate</th>
      <th>Email</th>
    </tr>
  <% @managers.each do |manager| %>
    <tr>
      <td>
        <%= manager.user.full_name %>
      </td>
      <td>
        <%= manager.participate %>
      </td>
      <td>
        <%= manager.user.email %>
      </td>
      <td>
        <%= link_to 'Send Mail', '#' %> | 
        <%= link_to 'Edit', edit_course_courses_area_manager_path(@course, manager) %> | 
        <%= link_to 'Delete', courses_area_manager_path(manager), method: :delete, data: {confirm: "Are you sure"} %>
      </td>
    </tr>
  <% end %>
  </table> 
</div>

<div class="bottom-choice">
  <%= link_to course_courses_dealers_path(@course), class: "btn btn-success" do %>
    Dealers
  <% end %>
</div>