<%= render 'shared/navbar_settings' %>

<div class="div_btn_add">
  <%= link_to new_courses_type_path, class:"btn_add" do %>
    <p><strong>+</strong> Courses Type</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>
      <th>Id</th>                       
      <th>Note</th>
      <th>Image path</th>
    </tr>
  <% @courses_types.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td><%= course.note %></td>
      <td><%= course.image_path %></td>
      <td><%= link_to 'Edit', edit_courses_type_path(course) %> | <%= link_to 'Delete', courses_type_path(course), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table> 
</div>
