<ul class="navbar_secondary">
  <li>
    <%= link_to 'Users', users_path, class: (controller_name == 'users' ? 'active' : '') %>
  </li>
  <li>
    <%= link_to 'Roles Types', roles_types_path, class: (controller_name == 'roles_types' ? 'active' : '') %>
  </li>
  <li>
    <%= link_to 'Locations', locations_path, class: (controller_name == 'locations' ? 'active' : '') %>
  </li>
  <li>
    <%= link_to 'Registers Types', register_types_path, class: (controller_name == 'register_types' ? 'active' : '') %>
  </li>
  <li>
    <%= link_to 'Courses Types', courses_types_path, class: (controller_name == 'courses_types' ? 'active' : '') %>
  </li>
</ul>