<%= render 'shared/navbar_settings' %>

<div class="div_btn_add">
  <%= link_to new_roles_type_path, class:"btn_add" do %>
    <p><strong>+</strong> Roles Type</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>code</th>
      <th>Name</th>
    </tr>
  <% @roles_types.each do |role| %>
    <tr>
      <td><%= role.code %></td>
      <td><%= role.nameEN %></td>
      <td><%= link_to 'Edit', edit_roles_type_path(role) %> | <%= link_to 'Delete', roles_type_path(role), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table> 
</div>