<h1>HOME PAGE</h1>
<h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
<h3><%= link_to 'Roles Type Index', roles_types_path %></h3>
<h3><%= link_to 'Locations Index', locations_path %></h3>
<h3><%= link_to 'Register Types Index', register_types_path %></h3>
<h3><%= link_to 'Courses Types Index', courses_types_path %></h3>
<h3><%= link_to 'Courses Index', courses_path %></h3>