<%= simple_form_for @course do |f| %>
  <% if action_name == 'new' %>
    <h4>Create a new course</h4>
  <% elsif action_name == 'edit' %>
    <h4>Edit the course</h4>
  <% end %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :note, input_html: { rows: 3 } %>
  <%= f.input :status, collection: [[-1, 'Annullato'],[0, 'New'], [2, 'Pubblicato'] ,[3, 'Eseguito']], value_method: :first,label_method: :last, as: :radio_buttons, input_html: { value: '0' }, include_blank: false %>
  <%= f.input :online, include_blank: false, as: :radio_buttons %>
  <%= f.input :link %>
  <div class="form_course_language_register">
    <div class="form_course_language">
      <%= f.input :language, collection: @languages, include_blank: false %>
    </div>
    <div class="form_course_register">
      <%= f.input :max_register, collection: 1..15, include_blank: false %>
    </div>
  </div>
  <%= f.association :courses_type, collection: CoursesType.all.order(:id) ,label_method: :note, value_method: :id, include_blank: false %>
  <%= f.association :location, collection: Location.all, include_blank: false %>
  <%= f.button :submit, class:"btn-save" %>
<% end %>