<%= render 'shared/navbar_secondary' %>
<h1 class="text-center">Courses Index</h1>

<% if current_user.roles_type_code == 'S' %>
  <div class="div_btn_add">
    <%= link_to new_course_path, class:"btn_add" do %>
      <p><strong>+</strong> Course</p>
    <% end %>
  </div>
<% end %>




<% @courses_sessions.each do |session| %>
  <%= link_to course_path(session.course), class: "link-card-product" do %> 
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= session.start_time.strftime("%d/%m/%Y %H:%M UTC") %></h2>
        <h2><%= session.course.name.capitalize %></h2>
        <p><%= session.course.description %></p>
      </div>
    </div>
  <% end %>
<% end %>