<%= render 'shared/navbar_secondary' %>
<% if current_user.roles_type_code == 'S' %>
  <div class="div_btn_add">
    <%= link_to new_course_path, class:"btn_add" do %>
      <p><strong>+</strong> Course</p>
    <% end %>
  </div>
<% end %>

<% @courses.each do |course| %>
  <%= link_to course_path(course), class: "link-card-product" do %> 
    <div class="card-product">
      <% image_path = "app/assets/images/#{course.courses_type.image_path}.png" %> 
      <% if File.exist?(image_path) %> 
        <%= image_tag "#{course.courses_type.image_path}.png" %>
      <% else %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" %>
      <% end %>
      <div class="card-product-infos">
        <h2>No start time</h2>
        <h2><%= course.name.capitalize %></h2>
        <p><%= course.description %></p>
      </div>
    </div>
  <% end %>
<% end %>


