<div class="course_show_div">
  <div class="course_show_top">
    <div class="course_show_top_time">
      
    </div>
    <div class="course_show_top_name_language">
      <p><%= @course.name %> (<%= @course.language %>)</p>
    </div>
    <div class="course_show_top_register_number">
      <p> <%= @registers.count %> / <%= @course.max_register %></p>
    </div>
  </div>
  <div class="course_show_address">
    <p><%= @course.location.name %></p>
  </div>
  <div class="course_show_description">
    <p><%= @course.description %></p>
  </div>
  <div class="course_show_description">
    <p><%= @course.note %></p>
  </div>
  <div class="course_show_description">
    <h4>Sessions : <%= link_to 'Add Session', new_course_courses_session_path(@course) if @role == 'S' %></h4>
    <% @sessions.each do |session| %>
      <p>
        <%= session.start_time %> ----- <%= session.end_time %>
        <% if @role == 'S' %>
          <%= link_to 'Edit', edit_course_courses_session_path(@course, session) %> 
          <%= link_to 'Delete', course_courses_session_path(@course, session), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
       </p>
    <% end %>
  </div>
  
  
  

  
  
  
  
  <div class="course_show_bottom">
    <% if @role == 'S' %>
      <div class="course_show_box">
        <%= link_to course_courses_area_managers_path(@course) do %>
          <h3>Area Managers</h3>
        <% end %>
      </div>
      <div class="course_show_box">
        <%= link_to course_courses_teachers_path(@course) do %>
          <h3>Teachers</h3>
        <% end %>
      </div>
    
    
    
    <% elsif @role == 'A' %>
      <div class="course_show_box">
        <%= link_to course_courses_dealers_path(@course) do %>
          <h3>Dealers</h3>
        <% end %>
      </div>
      <div class="course_show_box">
        <%= link_to course_courses_teachers_path(@course) do %>
          <h3>Teachers</h3>
        <% end %>
      </div>
    
    <% elsif @role == 'D' %>
      <div class="course_show_box">
        <%= link_to course_courses_participants_path(@course) do %>
          <h3>Participants</h3>
        <% end %>
      </div>
      <div class="course_show_box">
        <%= link_to course_courses_registers_path(@course) do %>
          <h3>Registers</h3>
        <% end %>
      </div>
    
    <% end %>
  </div>
</div>
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @course.name %> (<%= @course.language %>)</h2>
      <p><%= @course.description %></p>
      <p></p>
    </div>
    <div>
      <h2 class="card-trip-pricing"><%= @registers.count %>/<%= @course.max_register %></h2>
    </div>
  </div>
</div>
<% if @role == 'A' %>
  <% if !CoursesAreaManager.where(course: @course, user: current_user).empty? %>
    <%= link_to 'Participate', '#', class:"btn btn-info" if CoursesAreaManager.find_by(course: @course).participate == 'N' %>
    <%= link_to 'Quit', '#', class:"btn btn-danger" if CoursesAreaManager.find_by(course: @course).participate == 'Y' %>
  <% end %>
<% elsif @role == 'S' %>
  <%= link_to 'Edit Course', edit_course_path(@course), class:"btn btn-info" %>
<% end %>

