<div class="top-choice">
  <%= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-primary" %>
  <%= link_to '#', class:"btn btn-outline-primary" do %>
    Send Email All
  <% end %>
  <%= link_to new_course_courses_dealer_path(@course), class:"btn btn-success" do %>
    Add Dealer
  <% end %>
</div>
<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Participate</th>
      <th>Email</th>
    </tr>
  <% @dealers.each do |dealer| %>
    <tr>
      <td>
        <%= dealer.user.full_name %>
      </td>
      <td>
        <%= dealer.participate %>
      </td>
      <td>
        <%= dealer.user.email %>
      </td>
      <td>
        <%= link_to 'Send Mail', '#' %> | 
        <%= link_to 'Edit', edit_course_courses_dealer_path(@course, dealer) %> | 
        <%= link_to 'Delete', courses_dealer_path(dealer), method: :delete, data: {confirm: "Are you sure"} %>
      </td>
    </tr>
  <% end %>
  </table> 
</div>

<div class="bottom-choice">
  <%= link_to course_courses_participants_path(@course), class: "btn btn-success" do %>
    Participants
  <% end %>
</div>