<%= render 'shared/navbar_settings' %>

<div class="div_btn_add">
  <%= link_to new_register_type_path, class:"btn_add" do %>
    <p><strong>+</strong> Registers Type</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>code</th>
      <th>Name</th>
    </tr>
  <% @register_types.each do |register| %>
    <tr>
      <td><%= register.code %></td>
      <td><%= register.nameEN %></td>
      <td><%= link_to 'Edit', edit_register_type_path(register) %></td>
    </tr>
  <% end %>
  </table> 
</div>