<div class="top-choice">
  <%= link_to 'Back to Course', course_path(@course), class: "btn btn-outline-primary" %>
  <%= link_to '#', class:"btn btn-outline-primary" do %>
    Send Email All
  <% end %>
  <%= link_to new_course_courses_participant_path(@course), class:"btn btn-success" do %>
    Add Participant
  <% end %>
</div>
<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Participate</th>
      <th>Email</th>
    </tr>
  <% @participants.each do |participant| %>
    <tr>
      <td>
        <%= participant.user.full_name %>
      </td>
      <td>
        <%= participant.participate %>
      </td>
      <td>
        <%= participant.user.email %>
      </td>
      <td>
        <%= link_to 'Send Mail', '#' %> | 
        <%= link_to 'Edit', edit_course_courses_participant_path(@course, participant) %> | 
        <%= link_to 'Delete', courses_participant_path(participant), method: :delete, data: {confirm: "Are you sure"} %>
      </td>
    </tr>
  <% end %>
  </table> 
</div>

<div class="bottom-choice">
  <%= link_to course_courses_registers_path(@course), class: "btn btn-success" do %>
    Registers
  <% end %>
</div>