<%= link_to '#', class:"btn btn-outline-primary" do %>
  <p>Send Email All</p>
<% end %>
<%= link_to new_course_courses_participant_path(@course), class:"btn btn-success" do %>
  <p><strong>+</strong> Participant</p>
<% end %>

<% @participants.each do |participant| %>
  <h2><%= participant.user.first_name %> <%= link_to (participant.participate == 'N' ? 'Participate' : 'Quit'), (participant.participate == 'N' ? '#' : '#' ) %> 
  <%= link_to 'Send Mail', '#' %> 
  <%= link_to 'Edit', edit_course_courses_participant_path(@course, participant) %> 
  <%= link_to 'Delete', courses_participant_path(participant), method: :delete, data: {confirm: "Are you sure"} %></h2>
<% end %>

<%= link_to course_courses_registers_path(@course), class: "btn btn-success" do %>
  <h3>Registers</h3>
<% end %>