<div class="form-location">
  <h4>Create a new location</h4>
  <%= simple_form_for @location do |f| %>
    <%= f.input :name, placeholder: '10 place Andre Malraux, 75001 Paris' %>
    <div class="location-inputs">
    <%= f.input :nation, placeholder: 'France' %>
    <%= f.input :language, collection: @languages, include_blank: false%>
    </div>
    <div class="buttons">
      <%= link_to "Cancel", :back, {:class=>"btn-cancel"} %>
      <%= f.button :submit, 'Save', {:class=>"btn-save"} %>
    </div>
  <% end %>
</div>
