<div class="form-location">
  <h3>Create a new location</h3>
  <%= simple_form_for @location do |f| %>
    <%= f.input :name, placeholder: '10 place Andre Malraux, 75001 Paris' %>
    <div class="d-flex space-between">
    <%= f.input :nation, placeholder: 'France' %>
    <%= f.input :language, collection: @languages%>
    </div>
    <%= f.button :submit, 'SAVE' %>
  <% end %>
</div>
