<%= render 'shared/navbar_settings' %>
<div class="div_btn_add">
  <%= link_to new_location_path, class:"btn_add" do %>
    <p><strong>+</strong> Location</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Nation</th>
      <th>Language</th>
    </tr>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name.capitalize %></td>
      <td><%= location.nation %></td>
      <td><%= location.language %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %> | <%= link_to 'Delete', location_path(location), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table> 
</div>