<h1 class="text-center m-3">Locations Index</h1>

<div class="div_btn_add">
  <%= link_to new_location_path, class:"btn_add" do %>
    <p><strong>+</strong> Location</p>
  <% end %>
</div>

<div class="locations_index_table">
  <table>                         
    <tr>                          
      <th>Name</th>
      <th>Nation</th>
      <th>Language</th>
    </tr>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name.capitalize %></td>
      <td><%= location.nation %></td>
      <td><%= location.language %></td>
      <td><%= link_to 'EDIT', edit_location_path(location) %></td>
    </tr>
  <% end %>
  </table> 
</div>